<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC " -//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mofong.vvic.dao.LogDao">

	<insert id="addLog">
		INSERT INTO
		`log`(`status`,`operation`,`operation_detail`,`operate_time`)
		VALUES
		(#{status},#{operation},#{operation_detail},#{operate_time})
	</insert>

</mapper>